* {
  border: solid;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:is(h1, h2, h3, h4, h5, h6) {
  margin:2%;
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0px;
  gap: 2%;
}

.list-container{
  display:flex;
}

.input-form{
  display: flex;
  gap: 10px; 
  align-content: center;
  justify-content: center;
}

.inactive{
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
}

.point-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.text-container{
  display: flex;
  justify-content: right;
}